<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="NEF Test">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>NEF Test</title>
  </head>

  <body>
    <div class="container-fluid" id="testApp">
      <div class="row">
        <div class="col-md-3" role="test-navigator">
          <section class="setup" v-if="!testRunning">
            <h3>Setup Test</h3>
            <div class="form-group">
              <label for="questionsAmount">Amount of Questions</label>
              <input class="form-control" type="number" id="questionsAmount" v-model="questionsAmount">
            </div>
            <div class="form-group">
              <label for="optionsLimit">Limit of Options</label>
              <input class="form-control" type="number" id="optionsLimit" v-model="optionsLimit">
            </div>
            <button class="btn btn-primary btn-lg btn-block" @click="runTest" :disabled="testRunning">
              Run Test
            </button>
          </section>

          <section class="score">
            <p class="lead text-center">
              (<span class="text-success">{{score}} right</span> + <span class="text-danger">{{mistakes}} wrong</span>)
              / {{questionsAmount}} total
            </p>
          </section>
        </div>

        <section class="col-md-6" role="test-container">
          <h3 v-if="!testRunning && !answers.length">Setup test parameters and press "Run Test"</h3>
          <h3 v-if="testRunning">Choose/type correct option and press "Answer"</h3>
          <hr>

          <question v-if="testRunning && currentQuestion"
                    :description="currentQuestion"
                    @mistake="handleMistake"
                    @correct="handleCorrect"></question>

          <section class="answers" v-if="!testRunning && currentQuestion">
            <h3>
              You answered on {{ questionsAmount }} questions.
              You made <span class="text-danger">{{ mistakes }} mistakes</span>.
            </h3>
            <answer v-for="answer in answers" :description="answer"></answer>
          </section>
        </section>

      </div>
    </div>

    <script type="text/x-template" id="option-template">
      <span class="option">
        <img class="img-responsive img-thumbnail" :src="value" v-if="isUrl()">
        <span v-if="isText()" :class="{ 'btn btn-default btn-block': !readonly && value.length < 30 }">{{value}}</span>
      </span>
    </script>

    <script type="text/x-template" id="question-template">
      <section class="question">
        <h4>
          <answer-option :value="description.definition" :readonly="true"></answer-option>
        </h4>
        <hr>
        <ul class="list-unstyled" :class="{ row: description.type == 'illustrations' && !description.reversed }" v-if="!description.handwriting">
          <li class="answer" v-for="option in description.options" @click="selectedOption = option" :class="{ selected: selectedOption == option, 'col-md-12': description.type == 'illustrations' && !description.reversed }">
            <answer-option :value="option" :readonly="false"></answer-option>
          </li>
        </ul>

        <div v-if="description.handwriting" class="form form-inline">
          <label>Enter your answer in lowercase here:</label>
          <input type="text" v-model="selectedOption" class="form-control" >
        </div>

        <br>
        <button class="btn btn-success btn-block" :disabled="!selectedOption" @click="answerWith(selectedOption)">
          Answer
        </button>
        <br>
      </section>
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/g/lodash@4.16.6(lodash.fp.min.js+lodash.min.js)"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="javascripts/topics.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
