.question .answer {
  margin-bottom: 1em;
  cursor: pointer;
}

  .question .answer.selected label {
    font-weight: bold;
  }

  .question .answer.selected .btn {
    background-color: lightgray;
  }

  .question .answer.selected img {
    box-shadow: 2px 2px 11px gray;
    border: 3px solid #cccc33;
  }
